* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

.side-card {
  position: relative; /* Use relative for proper pinning by ScrollTrigger */
  top: 0;
  width: 100%; /* Adjust based on the column layout */
  height: auto;
  padding: 20px;
  z-index: 10;
}

.scrolling-content {
  position: relative;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.about-section {
  background-image: url("https://images.unsplash.com/photo-1689443111130-6e9c7dfd8f9e?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.ellpsee {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.swiper-container::-webkit-scrollbar{
  display: none;
}
.swiper-wrapper {
 transform: translateX(50%);
}